## .NET
bin/
obj/
*.user
*.suo
*.cache
*.vs/
.vscode/

## Data directory (runtime)
data/
!Orim.Web/wwwroot/data/

## OS
.DS_Store
Thumbs.db
/Orim.Web/appsettings.Development.json
/Orim.Web/Properties/PublishProfiles/orim - Zip Deploy.pubxml
/artifacts
/.artifacts
/Orim.Api/wwwroot/index.html
/Orim.Api/wwwroot/assets
