<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/99263a1b-e2e6-41aa-8b7c-75ad3083261a/resourceGroups/orim/providers/Microsoft.Web/sites/orim</ResourceId>
    <ResourceGroup>orim</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://orim.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>99777013-07df-d9c7-6be6-a32cc31ee9c7</ProjectGuid>
    <PublishUrl>https://orim.scm.azurewebsites.net/</PublishUrl>
    <UserName />
    <_SavePWD>false</_SavePWD>
  </PropertyGroup>
</Project>